
*{
  font-family: 'Noto Sans';
}

.question-text{
  font-size: 1.7rem;
  font-weight: 700;
}

input.form-control{
  border: 1px solid #bbb;
}

.control-btn>button{
  background-color: hsl(210, 100%, 95%);
    border-color: hsl(220, 90%, 90%);
  color: hsl(220,50%, 45%);
  color:#333
}

.control-btn span{
  font-size: 0.6rem;
}

.correct, .wrong {
  text-align: center;
  border: 1.5px solid;
  border-radius: 20px;
  padding: 8px;
  margin-top: 15px;
}

.correct{
  border-color: hsl(40, 50%, 80%);
  color: hsl(40,40%, 30%);
}

.wrong{
  border-color: hsl(330, 90%, 90%);
  color: hsl(330, 50%, 45%);
}

.answers ul{
  margin-bottom: 0;
  list-style-type: none;
  padding: 0;
}

button.answer-btn.accordion-button{
  padding: 10px;
  background: hsl(30, 15%, 95%);
}
button.accordion-button:not(.collapsed){
  background: hsl(20, 15%, 95%);
}

.answer-btn span{
  font-size: 0.6rem;
  margin-left: 8px;
}
.answer-body ul{
  margin-bottom: 0;
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}
.answer-body a{
  font-size: 0.8rem;
}

